PORT=5000
NODE_ENV=development
MONGO_URI="mongodb://luxestay:luxestay1234@ac-utbkdhr-shard-00-00.ougf53f.mongodb.net:27017,ac-utbkdhr-shard-00-01.ougf53f.mongodb.net:27017,ac-utbkdhr-shard-00-02.ougf53f.mongodb.net:27017/luxestay?ssl=true&replicaSet=atlas-i147wc-shard-0&authSource=admin&appName=Cluster0"
JWT_SECRET=luxestay_super_secret_jwt_key_2025
JWT_EXPIRE=30d
ADMIN_EMAIL=admin@luxestay.com
ADMIN_PASSWORD=admin123
